.row {
  display: flex;
  color: #606060;
  font-family: "Segoe UI";
  box-sizing: border-box;
}

.sidebar {
  flex: 1;
  font-size: 0.8rem;
  &_children{
    display: none;
  }
  &__logo {
    display: none;
  }

  &__dashboard {
    background-color: #dedede;
  }

  .sidebar__dashboard, .sidebar__analyst, .sidebar__ecommerce {
    padding: 0.5em;
    margin: 0.3rem;
    display: flex;
    border-radius: 0.5rem;
    font-weight: 500;
    gap: 0.5rem;
    flex-direction: row;

    &-title {
      flex: 1;
      text-align: center;
    }

    &:hover {
      background-color: #9e94ff;

      i {
        color: #fff;
      }
    }
  }

  &__title {
    margin: 0.7rem 0;
  }

  &__ui-down {
    display: flex;
    flex-direction: row;
    margin: 0.3rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    justify-content: space-between;

    &:hover {
      background-color: #9e94ff;

      i {
        color: #fff;
      }
    }
  }

  &__ui-grid {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 0.5rem;
    margin: 0.5rem;
    padding: 0.5rem;

    &:hover {
      background-color: #9e94ff;

      i {
        color: #fff;
      }
    }
  }

}

.notification {
  display: none;
}

.content {
  flex: 6;
  padding: 0.5rem;
  &__txt{
    display: none;
  }
  &_search{
    display: none;
  }
  &__category{
    display: none;
  }
  &__sidebar-top {
    //background-color: #9e94ff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
    padding: 0.7rem;
    box-shadow: 0 0.2rem 5px 0.1rem rgba(0, 0, 0, 0.3);
  }

  &__sidebar-left-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    color: black;
    .fa-star:hover{
      scale: 1.2;
    }
  }

  &__sidebar-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    .notification_bell {
      position: relative;
    }
    .notification_bell-number {
      position: absolute;
      top: -10px;
      right: -10px;
      z-index: 2;
      text-decoration: none;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background-color: #7e72f2;
      display: block;
      text-align: center;
      line-height: 1rem;
      font-size: 10px;
    }
    .notification_cart{
      display: none;
    }
  }

  &__sidebar-user {
    display: flex;
    align-items: center;
    .user {
      display: none;
    }
    & img{
      width: 2rem;
      height: 2rem;
      margin-left: 0.2rem;
      border-radius: 50%;
    }
  }

  &__sidebar-user-name {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
  }

  &__checkout {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__left {
      display: inherit;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }

    &-title {
      border-right: 0.1rem solid #606060;
      padding-right: 3rem;
      font-size: 1.5em;
    }
  }
  &__shop{
    display: none;
  }

  &__process {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
    padding: 0 7em;
    position: relative;
    align-items: center;

    &-one, &-two, &-three {
      display: inherit;
      align-items: center;
      justify-content: center;
      width: 3rem;
      height: 3rem;
      border: 0.1rem solid black;
      border-radius: 50%;
    }
    &-one {
      background-color: #7e72f2;
      color: #fff;
      border: none;
    }
    &-step {
      position: absolute;
      width: 13rem;
      height: 0.3rem;
      left: 0;
      z-index: -1;
      background-color: #7e72f2;
    }
  }

  &__product {
    display: flex;

    &-image {
      margin: 1rem;
    }

    &-detail {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      margin-top: 1rem;
      //border: 0.1em solid black;
      box-shadow: 0 0.2rem 5px 0.1rem rgba(0, 0, 0, 0.3);
      border-radius: 0.5rem;
      img:hover {
        scale: 1.2;
      }
    }
  }

  &__main__product {
    flex: 4.5;
  }

  &__cart {
    flex: 1.5;
    margin: 1rem;
    //border: 1px solid black;
    border-radius: 0.3em;
    padding: 1em 1em 0 1em;
    height: fit-content;
    box-shadow: 0 0.2rem 5px 0.1rem rgba(0, 0, 0, 0.3);

    &-options {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

    }

    &-apply {
      text-decoration: none;
      margin-top: 1em;
    }

    &-coupon {
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      margin-top: 1em;
    }

    &-price-detail {
      color: black
    }

    &-price-details {
      display: flex;
      color: #606060;
      margin-top: 1em;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &-order {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0.5rem;
      padding: 0.5em 1em;
      font-size: 0.9em;
      color: #fff;
      border-radius: 0.5em;
      background-color: #9e94ff;
    }
  }

  &__product-description {
    flex: 2;
    margin: 1rem 0 1rem 0;
  }

  &__product-action {
    flex: 1;
    border-left: 0.1em solid black;
    font-size: 0.9em;
    padding: 0.5em;
  }
}

.product {
  &-image {
    width: 8em;
    height: 8em;
    flex: 1;
  }

  &-name {
    font-size: 1.3em;
  }

  &-quantity-id {
    display: flex;
    width: 5rem;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    background-color: #efeeee;

  }

  &-quantity-decrease, &-quantity-number, &-quantity-increase {
    flex: 1;
    display: inherit;
    justify-content: center;
    align-items: center;
  }

  &-quantity-decrease, &-quantity-increase {
    background-color: #7e72f2;
  }

  &_info {
    font-size: 0.9rem;

  }

  &-stock {
    color: #2ccf9e;
  }

  &-date {
    margin-top: 0.5em;
  }

  &-discount {
    color: #2ccf9e;
  }

  &-by {
    text-decoration: none;
  }

  &-amount {
    display: flex;
    justify-content: end;

    &-start {
      width: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.2em;
      background-color: #9e94ff;
      color: #fff;
      border-radius: 0.2em;
      &-l {
        display: none;
      }
    }
  }

  &-price {
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
  }

  &-free {
    color: #bcbcbc;
    display: flex;
    justify-content: center;
    margin: 0.5rem 0;
  }

  &-remove {
    display: flex;
    font-size: 0.9em;
    color: black;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
    width: 100%;
    padding: 0.5rem 0;
    border-radius: 0.2em;
    background-color: #d7d7d7;
    margin-bottom: 0.5rem;
  }

  &-wishlist {
    display: flex;
    font-size: 0.9em;
    color: #fff;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    width: 100%;
    padding: 0.5em 0;
    border-radius: 0.2em;
    background-color: #9e94ff;
    &-head{
      display: none;
    }
  }
  &-add-cart{
    display: none;
  }
}


