.row {
  display: flex;
  color: #606060;
  font-family: "Segoe UI";
  box-sizing: border-box;
}

.sidebar {
  flex: 1;
  font-size: 0.8rem;
}
.sidebar_children {
  display: none;
}
.sidebar__logo {
  display: none;
}
.sidebar__dashboard {
  background-color: #dedede;
}
.sidebar .sidebar__dashboard, .sidebar .sidebar__analyst, .sidebar .sidebar__ecommerce {
  padding: 0.5em;
  margin: 0.3rem;
  display: flex;
  border-radius: 0.5rem;
  font-weight: 500;
  gap: 0.5rem;
  flex-direction: row;
}
.sidebar .sidebar__dashboard-title, .sidebar .sidebar__analyst-title, .sidebar .sidebar__ecommerce-title {
  flex: 1;
  text-align: center;
}
.sidebar .sidebar__dashboard:hover, .sidebar .sidebar__analyst:hover, .sidebar .sidebar__ecommerce:hover {
  background-color: #9e94ff;
}
.sidebar .sidebar__dashboard:hover i, .sidebar .sidebar__analyst:hover i, .sidebar .sidebar__ecommerce:hover i {
  color: #fff;
}
.sidebar__title {
  margin: 0.7rem 0;
}
.sidebar__ui-down {
  display: flex;
  flex-direction: row;
  margin: 0.3rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  justify-content: space-between;
}
.sidebar__ui-down:hover {
  background-color: #9e94ff;
}
.sidebar__ui-down:hover i {
  color: #fff;
}
.sidebar__ui-grid {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 0.5rem;
  margin: 0.5rem;
  padding: 0.5rem;
}
.sidebar__ui-grid:hover {
  background-color: #9e94ff;
}
.sidebar__ui-grid:hover i {
  color: #fff;
}

.notification {
  display: none;
}

.content {
  flex: 6;
  padding: 0.5rem;
}
.content__txt {
  display: none;
}
.content_search {
  display: none;
}
.content__category {
  display: none;
}
.content__sidebar-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.7rem;
  box-shadow: 0 0.2rem 5px 0.1rem rgba(0, 0, 0, 0.3);
}
.content__sidebar-left-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  color: black;
}
.content__sidebar-left-list .fa-star:hover {
  scale: 1.2;
}
.content__sidebar-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.content__sidebar-right .notification_bell {
  position: relative;
}
.content__sidebar-right .notification_bell-number {
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 2;
  text-decoration: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #7e72f2;
  display: block;
  text-align: center;
  line-height: 1rem;
  font-size: 10px;
}
.content__sidebar-right .notification_cart {
  display: none;
}
.content__sidebar-user {
  display: flex;
  align-items: center;
}
.content__sidebar-user .user {
  display: none;
}
.content__sidebar-user img {
  width: 2rem;
  height: 2rem;
  margin-left: 0.2rem;
  border-radius: 50%;
}
.content__sidebar-user-name {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}
.content__checkout {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content__checkout__left {
  display: inherit;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.content__checkout-title {
  border-right: 0.1rem solid #606060;
  padding-right: 3rem;
  font-size: 1.5em;
}
.content__shop {
  display: none;
}
.content__process {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.5rem;
  padding: 0 7em;
  position: relative;
  align-items: center;
}
.content__process-one, .content__process-two, .content__process-three {
  display: inherit;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border: 0.1rem solid black;
  border-radius: 50%;
}
.content__process-one {
  background-color: #7e72f2;
  color: #fff;
  border: none;
}
.content__process-step {
  position: absolute;
  width: 13rem;
  height: 0.3rem;
  left: 0;
  z-index: -1;
  background-color: #7e72f2;
}
.content__product {
  display: flex;
}
.content__product-image {
  margin: 1rem;
}
.content__product-detail {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
  box-shadow: 0 0.2rem 5px 0.1rem rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
}
.content__product-detail img:hover {
  scale: 1.2;
}
.content__main__product {
  flex: 4.5;
}
.content__cart {
  flex: 1.5;
  margin: 1rem;
  border-radius: 0.3em;
  padding: 1em 1em 0 1em;
  height: fit-content;
  box-shadow: 0 0.2rem 5px 0.1rem rgba(0, 0, 0, 0.3);
}
.content__cart-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content__cart-apply {
  text-decoration: none;
  margin-top: 1em;
}
.content__cart-coupon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  margin-top: 1em;
}
.content__cart-price-detail {
  color: black;
}
.content__cart-price-details {
  display: flex;
  color: #606060;
  margin-top: 1em;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.content__cart-order {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  padding: 0.5em 1em;
  font-size: 0.9em;
  color: #fff;
  border-radius: 0.5em;
  background-color: #9e94ff;
}
.content__product-description {
  flex: 2;
  margin: 1rem 0 1rem 0;
}
.content__product-action {
  flex: 1;
  border-left: 0.1em solid black;
  font-size: 0.9em;
  padding: 0.5em;
}

.product-image {
  width: 8em;
  height: 8em;
  flex: 1;
}
.product-name {
  font-size: 1.3em;
}
.product-quantity-id {
  display: flex;
  width: 5rem;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  background-color: #efeeee;
}
.product-quantity-decrease, .product-quantity-number, .product-quantity-increase {
  flex: 1;
  display: inherit;
  justify-content: center;
  align-items: center;
}
.product-quantity-decrease, .product-quantity-increase {
  background-color: #7e72f2;
}
.product_info {
  font-size: 0.9rem;
}
.product-stock {
  color: #2ccf9e;
}
.product-date {
  margin-top: 0.5em;
}
.product-discount {
  color: #2ccf9e;
}
.product-by {
  text-decoration: none;
}
.product-amount {
  display: flex;
  justify-content: end;
}
.product-amount-start {
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
  background-color: #9e94ff;
  color: #fff;
  border-radius: 0.2em;
}
.product-amount-start-l {
  display: none;
}
.product-price {
  color: black;
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}
.product-free {
  color: #bcbcbc;
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
}
.product-remove {
  display: flex;
  font-size: 0.9em;
  color: black;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
  width: 100%;
  padding: 0.5rem 0;
  border-radius: 0.2em;
  background-color: #d7d7d7;
  margin-bottom: 0.5rem;
}
.product-wishlist {
  display: flex;
  font-size: 0.9em;
  color: #fff;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  width: 100%;
  padding: 0.5em 0;
  border-radius: 0.2em;
  background-color: #9e94ff;
}
.product-wishlist-head {
  display: none;
}
.product-add-cart {
  display: none;
}

/*# sourceMappingURL=style.css.map */
